@charset "UTF-8";
html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Edu TAS Beginner", cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1380px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}
header img {
  width: 145px;
  height: 85px;
}
header ion-icon[name=logo-twitter] {
  color: #1DA1F2;
}
header ion-icon[name=logo-facebook] {
  color: #1877F2;
}
header ion-icon[name=logo-vk] {
  color: #4C75A3;
}
header ion-icon[name=logo-instagram] {
  color: #E4405F;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}
header ul:first-child {
  margin-right: 100px;
}
header ul li {
  display: inline-block;
  margin-left: 30px;
}
header .social-link {
  margin-top: 10px;
  margin-right: 10px;
}
header .social-link li {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 5px;
}
header .social-link li:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
header a {
  display: block;
  font-size: 20px;
  color: #566473;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header a:hover, header a:focus {
  color: #6EA437;
  outline: none;
}
header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler span:after, .nav-toggler span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #566473;
  left: 0;
}

.nav-toggler {
  height: 38px;
  width: 42px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}
.nav-toggler span {
  display: block;
  height: 2.5px;
  width: 20px;
  position: relative;
}
.nav-toggler span:before {
  top: -6px;
}
.nav-toggler span:after {
  top: 6px;
}

@media (max-width: 992px) {
  .nav-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header img {
    width: 120px;
    height: 70px;
  }
  header nav {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 10px 15px;
  }
  header nav ul:first-child {
    margin-right: 0;
  }
  header nav .social-link li {
    display: inline-block;
  }
  header nav li {
    display: block;
    margin: 0;
  }
  header nav li a {
    padding: 10px 0;
  }
  header #nav-check:checked ~ nav {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #nav-check ~ .nav-toggler {
    -webkit-box-shadow: 0 0 1px #000;
            box-shadow: 0 0 1px #000;
  }
  header #nav-check:checked ~ .nav-toggler span {
    background: transparent;
  }
  header #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  -webkit-transform-style: inherit;
          transform-style: inherit;
}
main:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  min-height: 100vh;
  background: transparent url("../image/main.jpg") center/cover no-repeat;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  z-index: -1;
}
main h1 {
  font-size: calc(24px + 70 * (100vw - 320px) / 1600);
  letter-spacing: 5px;
  text-shadow: 2px 2px 7px #000;
  margin-top: -100px;
}

#services {
  background: #000;
}
#services .card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  -webkit-box-shadow: 0 10px 30px 5px rgba 0, 0, 0, 0.2;
          box-shadow: 0 10px 30px 5px rgba 0, 0, 0, 0.2;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 20px;
}
#services .card:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
#services .card img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
#services .card h2 {
  position: absolute;
  margin: 0;
  -webkit-transition: inset 0.3s 0.3s ease-out;
  transition: inset 0.3s 0.3s ease-out;
  font-weight: bold;
  text-transform: uppercase;
}
#services .card .card-title-1 {
  inset: auto auto 68% 50px;
}
#services .card .card-title-2 {
  inset: auto auto 68% 40px;
}
#services .card .card-title-3 {
  inset: auto auto 68% 70px;
}
#services .card a, #services .card p {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
#services .card p {
  inset: auto auto 44% 30px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: bold;
}
#services .card .arrow-icon {
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}
#services .card .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset 0.3s ease;
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
#services .card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  text-shadow: 4px 4px 11px #000;
}
#services .card a:hover, #services .card a:focus {
  outline: none;
}
#services .card a:hover .arrow-icon, #services .card a:focus .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
}
#services .card a:hover .arrow-icon--circle, #services .card a:focus .arrow-icon--circle {
  stroke-dashoffset: 0;
}
#services .card:hover h2 {
  -webkit-transition: inset 0.3s ease-out;
  transition: inset 0.3s ease-out;
}
#services .card:hover h2.card-title-1 {
  inset: auto auto 90% 50px;
}
#services .card:hover h2.card-title-2 {
  inset: auto auto 90% 40px;
}
#services .card:hover h2.card-title-3 {
  inset: auto auto 90% 70px;
}
#services .card:hover p, #services .card:hover a {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.1s ease-in;
  transition: opacity 0.5s 0.1s ease-in;
}
#services .card:hover img {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

#advantages h2 {
  text-align: center;
  padding-top: 20px;
  font-size: calc(24px + 50 * (100vw - 320px) / 1600);
}
#advantages figure {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  text-align: center;
}
#advantages figure .filter-svg {
  -webkit-filter: invert(49%) sepia(73%) saturate(358%) hue-rotate(133deg) brightness(95%) contrast(89%);
          filter: invert(49%) sepia(73%) saturate(358%) hue-rotate(133deg) brightness(95%) contrast(89%);
}
#advantages figure img {
  width: 80px;
  height: 80px;
}
#advantages figure:hover {
  background: #369DA1;
  -webkit-box-shadow: 4px 4px 60px 20px rgba(54, 157, 161, 0.2);
          box-shadow: 4px 4px 60px 20px rgba(54, 157, 161, 0.2);
  -webkit-transition: background 0.3s 0s ease-out;
  transition: background 0.3s 0s ease-out;
  border-radius: 2px;
  color: #fff;
}
#advantages figure:hover .filter-svg {
  -webkit-filter: invert(100%) sepia(0%) saturate(15%) hue-rotate(285deg) brightness(105%) contrast(104%);
          filter: invert(100%) sepia(0%) saturate(15%) hue-rotate(285deg) brightness(105%) contrast(104%);
}
#advantages figure:hover h3 {
  color: #fff;
}
#advantages figure h3 {
  color: #369DA1;
  font-weight: bold;
}

.wrapper-video {
  max-width: 750px;
  margin: auto;
}

.about-content {
  padding: 50px;
  line-height: 1.8;
  font-size: calc(13px + 8 * (100vw - 320px) / 1600);
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

#container-twentytwenty {
  margin-bottom: 100px;
  padding: 50px 0;
}
#container-twentytwenty .container-twentytwenty {
  width: 100%;
  min-width: 450px;
  max-width: 600px;
  border-radius: 5px;
}
#container-twentytwenty .twentytwenty-block {
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}
#container-twentytwenty .twentytwenty-block:nth-child(1) {
  padding-left: 30px;
  text-align: right;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
#container-twentytwenty .twentytwenty-block:nth-child(2) {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
#container-twentytwenty .twentytwenty-block:nth-child(3) {
  padding-right: 30px;
  text-align: left;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px;
}

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}

.twentytwenty-container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0);
}

.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-container * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.twentytwenty-before-label {
  opacity: 0;
}

.twentytwenty-before-label:before {
  content: "";
}

.twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-after-label:before {
  content: "";
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}

.twentytwenty-overlay {
  -webkit-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

.twentytwenty-before {
  z-index: 20;
}

.twentytwenty-after {
  z-index: 10;
}

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #369DA1;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid #369DA1;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  z-index: 40;
  cursor: pointer;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  background: #369DA1;
  -webkit-box-shadow: 0 3px 0 #369DA1, 0px 0px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 0 #369DA1, 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  background: #369DA1;
  -webkit-box-shadow: 0 -3px 0 #369DA1, 0px 0px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -3px 0 #369DA1, 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 #fff, 0px 0px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0 0 #fff, 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 #fff, 0px 0px 12px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 0 0 #fff, 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.twentytwenty-left-arrow {
  border-right: 6px solid #fff;
  left: 50%;
  margin-left: -17px;
}

.twentytwenty-right-arrow {
  border-left: 6px solid #fff;
  right: 50%;
  margin-right: -17px;
}

.twentytwenty-up-arrow {
  border-bottom: 6px solid #369DA1;
  top: 50%;
  margin-top: -17px;
}

.twentytwenty-down-arrow {
  border-top: 6px solid #369DA1;
  bottom: 50%;
  margin-bottom: -17px;
}

@media (max-width: 992px) {
  #container-twentytwenty {
    display: none;
  }
}
#map {
  background: #f7f7f7;
  color: #566473;
}
#map .flex-map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#map li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 5px;
}
#map li:nth-of-type(4) ion-icon, #map li:nth-of-type(5) ion-icon {
  color: #369DA1;
}
#map ion-icon {
  padding: 0 10px;
}
#map a {
  color: #369DA1;
}
#map a:focus {
  outline: none;
}
#map .flex-map-content {
  padding: 40px;
}
#map h2 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
#map .button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  display: block;
  width: 174px;
  margin: auto;
}
#map .button.type1 {
  color: #566473;
}
#map .button.type1.type1::after, #map .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 3px solid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 2px;
}
#map .button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
#map .button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
#map .button.type1.type1:hover:after, #map .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  #map .row {
    display: block;
  }
  #map .row .flex-map-content ul {
    display: block;
    width: 318px;
    margin: auto;
    padding-left: 20px;
  }
}
#modal-content {
  position: fixed;
  z-index: 99999;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#modal-content:target {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#modal-content #modal-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  display: block;
  padding: 48px;
  line-height: 1.8;
  -webkit-box-shadow: 0px 0px 50px 30px rgba(246, 251, 255, 0.3);
          box-shadow: 0px 0px 50px 30px rgba(246, 251, 255, 0.3);
  background: #566473;
}
#modal-content #modal-inner h2 {
  font-size: calc(24px + 22 * (100vw - 320px) / 1600);
  color: #fff;
  text-align: center;
  margin: 0 0 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#modal-content a.close {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#modal-content a.close:hover {
  opacity: 0.7;
}
#modal-content .modal__close {
  position: absolute;
  font-size: 42px;
  top: -22.5px;
  right: 7.5px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#modal-content .modal__close:hover, #modal-content .modal__close:focus {
  color: #f00;
  outline: none;
}
#modal-content .form__textarea, #modal-content .form__input {
  width: clamp(120px, 50vw, 420px);
  border: 1px solid #474747;
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#modal-content .form__textarea::-webkit-input-placeholder, #modal-content .form__input::-webkit-input-placeholder {
  display: none;
  color: transparent;
  -webkit-user-select: none;
          user-select: none;
}
#modal-content .form__textarea::-moz-placeholder, #modal-content .form__input::-moz-placeholder {
  display: none;
  color: transparent;
  -moz-user-select: none;
       user-select: none;
}
#modal-content .form__textarea:-ms-input-placeholder, #modal-content .form__input:-ms-input-placeholder {
  display: none;
  color: transparent;
  -ms-user-select: none;
      user-select: none;
}
#modal-content .form__textarea::-ms-input-placeholder, #modal-content .form__input::-ms-input-placeholder {
  display: none;
  color: transparent;
  -ms-user-select: none;
      user-select: none;
}
#modal-content .form__textarea::placeholder, #modal-content .form__input::placeholder {
  display: none;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#modal-content .form__input {
  height: 2.5rem;
  padding: 0 1.25rem;
  margin: 0.25rem auto;
}
#modal-content .form__input:focus {
  outline: none;
}
#modal-content .form__textarea {
  height: 120px;
  padding: 1.25rem;
  resize: none;
}
#modal-content .form__textarea:focus {
  outline: none;
}
#modal-content .form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-4.5rem) scale(1);
  color: #fff;
  font-weight: bold;
}
#modal-content .form__input:not(:-ms-input-placeholder) + .form__label {
  transform: translateY(-4.5rem) scale(1);
  color: #fff;
  font-weight: bold;
}
#modal-content .form__input:focus + .form__label, #modal-content .form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-4.5rem) scale(1);
          transform: translateY(-4.5rem) scale(1);
  color: #fff;
  font-weight: bold;
}
#modal-content .form__textarea:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-9.5rem) scale(1);
  color: #fff;
  font-weight: bold;
}
#modal-content .form__textarea:not(:-ms-input-placeholder) + .form__label {
  transform: translateY(-9.5rem) scale(1);
  color: #fff;
  font-weight: bold;
}
#modal-content .form__textarea:focus + .form__label, #modal-content .form__textarea:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-9.5rem) scale(1);
          transform: translateY(-9.5rem) scale(1);
  color: #fff;
  font-weight: bold;
}
#modal-content .form__label {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  color: #566473;
  display: block;
  -webkit-transform: translate(1.25rem, -2.5rem);
          transform: translate(1.25rem, -2.5rem);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
#modal-content .form__label__textarea {
  -webkit-transform: translate(1.25rem, -7.5rem);
          transform: translate(1.25rem, -7.5rem);
}
#modal-content .btn-form {
  cursor: pointer;
  padding: 0.75em 1.5em;
  border: 0.125em solid #474747;
  -webkit-box-shadow: 0.5em 0.5em 0 -0.1em #474747, 0.5em 0.5em #474747;
          box-shadow: 0.5em 0.5em 0 -0.1em #474747, 0.5em 0.5em #474747;
  overflow: hidden;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #474747;
  font-size: calc(12px + 8 * (100vw - 320px) / 1600);
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#modal-content .btn-form:hover, #modal-content .btn-form:focus {
  outline: none;
  color: #fff;
  -webkit-box-shadow: 1em 1em 0 -0.125em #fff, 1em 1em #fff;
          box-shadow: 1em 1em 0 -0.125em #fff, 1em 1em #fff;
}
#modal-content .btn-form:hover:after, #modal-content .btn-form:focus:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#modal-content .btn-form:after {
  content: "";
  background: #474747;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-45deg) translateY(-3em);
          transform: rotate(-45deg) translateY(-3em);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}

.preloader-wrap {
  position: fixed;
  z-index: 1090;
  background: #fff;
  height: 100%;
  width: 100%;
}
.preloader-wrap .preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.preloader-wrap .preloader p {
  padding: 3rem 1rem 0;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 2px;
  font-size: 1.125em;
}
.preloader-wrap .preloader .dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preloader-wrap .preloader .face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 0.7rem;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
}
.preloader-wrap .preloader .face .dot {
  width: 0.8rem;
  height: 0.8rem;
  background: #F44336;
  border-radius: 50%;
}
.preloader-wrap .preloader .face:nth-child(1) {
  border: 2px solid #F44336;
  -webkit-animation: waves 5s linear infinite;
          animation: waves 5s linear infinite;
}
.preloader-wrap .preloader .face:nth-child(1) .dot {
  background: #F44336;
}
.preloader-wrap .preloader .face:nth-child(2) {
  border: 2px solid #E91E63;
  -webkit-animation: waves 5s 0.2s linear infinite;
          animation: waves 5s 0.2s linear infinite;
}
.preloader-wrap .preloader .face:nth-child(2) .dot {
  background: #E91E63;
}
.preloader-wrap .preloader .face:nth-child(3) {
  border: 2px solid #9C27B0;
  -webkit-animation: waves 5s 0.4s linear infinite;
          animation: waves 5s 0.4s linear infinite;
}
.preloader-wrap .preloader .face:nth-child(3) .dot {
  background: #9C27B0;
}
.preloader-wrap .preloader .face:nth-child(4) {
  border: 2px solid #673AB7;
  -webkit-animation: waves 5s 0.6s linear infinite;
          animation: waves 5s 0.6s linear infinite;
}
.preloader-wrap .preloader .face:nth-child(4) .dot {
  background: #673AB7;
}
.preloader-wrap .preloader .face:nth-child(5) {
  border: 2px solid #3F51B5;
  -webkit-animation: waves 5s 0.8s linear infinite;
          animation: waves 5s 0.8s linear infinite;
}
.preloader-wrap .preloader .face:nth-child(5) .dot {
  background: #3F51B5;
}
.preloader-wrap .preloader .face:nth-child(6) {
  border: 2px solid #2196F3;
  -webkit-animation: waves 5s 1s linear infinite;
          animation: waves 5s 1s linear infinite;
}
.preloader-wrap .preloader .face:nth-child(6) .dot {
  background: #2196F3;
}
.preloader-wrap .preloader .first-face {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preloader-wrap .preloader .second-face {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preloader-wrap .preloader .second-face .dot:last-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.preloader-wrap .preloader .third-face {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preloader-wrap .preloader .third-face .dot:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.preloader-wrap .preloader .third-face .dot:last-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.preloader-wrap .preloader .fourth-face {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preloader-wrap .preloader .sixth-face .column, .preloader-wrap .preloader .fifth-face .column, .preloader-wrap .preloader .fourth-face .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preloader-wrap .preloader .fifth-face {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preloader-wrap .preloader .fifth-face .column:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preloader-wrap .preloader .sixth-face {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@-webkit-keyframes waves {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  4% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 1;
  }
  8% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}
@keyframes waves {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  4% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 1;
  }
  8% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .preloader-wrap .preloader .face {
    width: 40px;
    height: 40px;
  }
  .preloader-wrap .preloader .face .dot {
    width: 0.4rem;
    height: 0.4rem;
  }
}
.error404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error404 svg {
  width: 500px;
  max-width: 100%;
}
.error404 #errorText {
  font-size: 22px;
  margin: 14px 0;
}
.error404 #errorLink {
  font-size: 20px;
  padding: 12px 18px;
  border: 1px solid;
  color: #000;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.error404 #errorLink:hover, .error404 #errorLink:focus {
  outline: none;
  color: #fff;
  background: #000;
}
.error404 #g6219 {
  -webkit-transform-origin: 85px 4px;
          transform-origin: 85px 4px;
  -webkit-animation: an1 12s 0.5s infinite ease-out;
          animation: an1 12s 0.5s infinite ease-out;
}
@-webkit-keyframes an1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  55% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  65% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  85% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  95% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes an1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  55% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  65% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  85% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  95% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=style.css.map */