.container {
	max-width: 1380px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}
.justify-content-center {
	justify-content: center;
	padding: 100px 0;
}

