$background-color: #fff;
$background-color-2: #000;
$background-color-3: #f7f7f7;
$background-color-4: #369DA1;
$background-color-5: #566473; 


$color-text: #fff;
$color-text-2: #000;
$color-text-3: #6EA437;


$color-close: #f00;
$form-color-btn: #474747;


$color-twitter: #1DA1F2;
$color-facebook: #1877F2;
$color-vk: #4C75A3;
$color-instagram: #E4405F;


$color-cube-1: #F44336;
$color-cube-2: #E91E63;
$color-cube-3: #9C27B0;
$color-cube-4: #673AB7;
$color-cube-5: #3F51B5;
$color-cube-6: #2196F3;



// media points
$breakpoint_xxl: 1400px;
$breakpoint_xl: 1200px;
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
 